/* IMPOSTAZIONE GENERALI*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
*::before *::after {
  box-sizing: border-box;
}
body {
  text-align: center;
  line-height: 1.65em;
  color: #393d41;
}
/* header*/
.imgheader {
  background-color: black;
  padding: 30px;
}
.partiamo {
  background-image: url(../images/banner.jpg);
  padding: 30px;
}
header {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  min-height: 500px;
}
header h1 {
  text-wrap: wrap;
  font-size: 1.6em;
  color: #25a2c3;
  margin-bottom: 20px;
  padding-inline: 50px;
  line-height: 1em;
}
.partiamo p {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.2em;

  margin-bottom: 20px;
  font-family: "Montserrat", sans-serif;
  line-height: 1.65em;
}
header button {
  text-align: center;
  text-decoration: none;
  background-color: #f04c2f;
  outline: none;
  border: 0;
  padding: 12px 30px;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: aliceblue;
  margin-block: 5px;
  border-radius: 5%;
}
/* main*/

main:not(h3) {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.2em;
  line-height: 1.65em;
}
main h3 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: #25a2c3;
  line-height: 1.5em;
}
article {
  padding-inline: 20px;
}
article h3 {
  margin-bottom: 10px;
}
article p {
  padding-block: 10px;
  margin-bottom: 5px;
}
/*immagine circolare*/

.circleimg {
  border-radius: 100%;
  margin-block: 15px;
}
/*div con sfondo arancione scuoro*/
.orange {
  background-color: #e22d0e;
  width: 100%;
  padding-block: 10px;
  margin-block: 10px;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  color: whitesmoke;
}

.orange h2 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: whitesmoke;
  line-height: 1.65em;
  font-size: 1.4em;
  margin-top: 20px;
}
.orange p {
  font-style: italic;
  font-size: 0.9em;
  padding-block: 20px;
  padding-inline: 10px;
}
.orange cite {
  font-size: 0.9em;
}
.orange span {
  font-size: 0.6em;
  margin-bottom: 5px;
}
/*schede*/

section {
  padding: 20px 35px;
}
.schede {
  border: 1px solid #dee1e3;
  margin-bottom: 30px;
}
.schede img {
  max-width: 100%;
}
.schede h3 {
  margin-block: 10px;
}
.schede p {
  margin-bottom: 40px;
  padding: 10px;
  font-size: 0.9em;
}
/*footer*/

footer {
  background-color: #25a2c3;
  padding: 20px;
}
footer h4 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  color: whitesmoke;
  font-size: 1.5em;
  margin-block: 15px 20px;
}
footer a,
address,
h6 {
  color: #c8e7f0;
}
footer h6 {
  margin: 25px 100px;
  border-top: 1px solid;
  padding: 20px 0 0;
}
footer h6 cite {
  text-decoration: underline;
}
